:root {
  font-family: Arial, sans-serif;

  body {
    margin: 10px;
  }

  h1 {
    border-radius: 5px;
    background-color: #e83f25;
    color: white;
    padding: 10px;
    margin: 5px 0;
    /* margin-block: 0; */
    line-height: 1.1;
  }
}
